@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Azeret Mono', monospace;
    text-decoration: none;
}
body {
	margin: 0;
	padding: 0;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
	padding-top: 4.6875rem;
}

.header {
	background: #3a3a3a;
	color: white;
	padding: 0.7rem;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
}	
.header a {
	color: white;
	text-decoration: none;
}
.logo-hnav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	max-width: 1500px;
	margin: 0 auto;
}

.logo:hover {
	color: #0b76a6;
}
	
.logo .appname {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}
	
.logo .user {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}

.hnav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.hnav ul li {
	display: inline-block;
}
			
.hnav ul li a {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: all 0.5s linear;
	border-radius: 5px;
}
			
.hnav ul li a:hover {
	background: #0b76a6;
}
.listas{
	display: none;
}
.listas ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
			
.listas ul li a {
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: all 0.5s linear;
	border-radius: 5px;
}
			
.listas ul li a:hover {
	background: #0b76a6;
}
.container{
	width: 90%;
	max-width: 950px;
	margin: 0 auto;
}

@media only screen and (max-width:767px) {
	
}