@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Azeret Mono', monospace;
    text-decoration: none;
}

body {
    background-image: url(bgAlumno.svg);
    background-size: 100%;
    background: #333;
}

p {
    color: black;
}

.display-chat {
    background-color: #ddd;
    border: 5px solid #ccc!important;
    border-color: #555!important;
    width: 700px;
    height: 400px;
    overflow-y: auto;
    padding: 5px;
}

.message {
    padding: 5px;
    text-align: left;
}

.form-group {
    padding: 15px;
    display: inline-flex;
}

.cancelar button {
    padding: 3px;
}

.form {
    display: inline-flex;
    background: black;
}

.form textarea {
    padding: 5px;
    width: 500px;
    height: 40px;
    text-align: left;
}

.form button {
    padding: 5px;
    height: 40px;
    width: 80px;
}

.message {
    padding: 5px;
    background-color: #9bbbff;
    border: 1px solid #FCFF9B;
    border-radius: 16px;
    width: 100%;
    display: block;
}