@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Azeret Mono', monospace;
       text-decoration: none;
}
body{
       background-image: url(background-wallpaper-with-polygons-in-gradient-colors-vector.jpg);
       padding: 20px;

}
.container-all{
       width: 100%;
       max-width: 1000px;
       margin: auto;
       margin-top: 20px;
       display: flex;
}
.ctn-form{
       width: 40%;
       padding: 40px;
       background-image: url(html-color-codes-color-tutorials-hero.jpg);
       display:block;
}
.title{
       text-align: center;
       margin-top: 10px;
       font-weight: 300;
       color:#F66B05;
}
label{
       text-align: center;
       display: block;
       margin-top: 30px;
       margin-bottom: 30px;
       font-size: 15px;
       font-weight: 250;
       color:#F66B05;
}
input{
       margin: auto;
       display: block;
       color: white;
       text-align: center;
       border: 0px;
}
.password{
       margin-bottom: 20%;
       color:white;
       text-align: center;
       border: 0px;
       
}
.botonesuwu button{
       margin-bottom: 3%;
        width: 45%; 
        color: #F66B05; 
        height: 40px; 
        border: 0px; 
        background-image: url(html-color-codes-color-tutorials-hero.jpg); 
        font-weight: 300;
       cursor:pointer;
}
.ingresar input{
       margin: auto;
       width: 100%;
       color: #F66B05;
       height: 50px;
       border: 0px;
       background-image: url(html-color-codes-color-tutorials-hero.jpg);
       font-weight: 300;
       cursor:pointer;
}      
.submitalumno input{
       width: 50%;
       margin-top: 20px;
       color: #F66B05;
       height: 50px;
       border: 0px;
       background-image: url(html-color-codes-color-tutorials-hero.jpg);
       font-weight: 300;
       cursor:pointer;
}
.submitdocente input{
       margin-top: 20px;
       color: #F66B05;
       height: 50px;
       border: 0px;
       background-image: url(html-color-codes-color-tutorials-hero.jpg);
       font-weight: 300;
       cursor:pointer;
       width: 50%;
}
.ctn-text{
       margin-left: 5%;
       margin-right: 3%;
       margin-top: 167px;
       text-align: center;
       font-size: 25px;
}
.text-footer{
       color:hotpink;
       text-decoration: none;
       font-size: 12px;
       
}
.footer{
       margin-top: 25px;
       text-align: center;
}
.modal-container{
       top: 0%;
       left: 0%;
       width: 100%;
       height: 100%;
       display:flex;
       background-image: url(legion-abstract-8k-ipad-wallpaper-ilikewallpaper_com_2732x2732.jpg);
       position: fixed;
       pointer-events: none;
       opacity: 0;
}
.formalumno{
       margin-left: 8%;
       display: block;
       position:fixed;
}
.formdocente{
       position:fixed;
       margin-left: 57%;
}
.regalumnotitulo h2{
       font-size: 15px;
       margin-left: 28px;
       color: #F66B05;
}
.regdocentetitulo h2{
       font-size: 15px;
       color: #F66B05;
}
.close button{
       margin-top: 450px;
       font-size: 30px;
}
.ctn-reg-alumno{
       pointer-events: none;
       display: block;
}
.show{
       pointer-events: auto;
       opacity: 1;
       position: fixed;
}
.ci input{
       margin-bottom: 10px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
       border-radius: 4px;
       color: black;
}
.nom input{
       margin-bottom: 10px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.ape input{
       margin-bottom: 10px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.grupo input{
       margin-bottom: 10px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.pass input {
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.verpass input{
       margin-top: 10px;
       margin-bottom: 20px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.selectalumno h2{
       font-size: 13px;
       color: #F66B05;
       margin-top: 15px;
       margin-bottom: 15px;
}
.selectfoto input{
       margin: auto;
}
.cidocente input{
       margin-bottom: 10px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
       border-radius: 4px;
       color: black;
}
.nomdocente input{
       margin-bottom: 10px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.apedocente input{
       margin-bottom: 10px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.grupodocente input{
       margin-bottom: 10px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.passdocente input {
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.verpassdocente input{
       margin-top: 10px;
       margin-bottom: 20px;
       width: 500px;
       height: 25px;
       padding: 12px 20px;
       border: 3px solid #F66B05;
  border-radius: 4px;
}
.selectdocente h2{
       font-size: 13px;
       color: #F66B05;
       margin-top: 15px;
       margin-bottom: 15px;
}
.selectfotodocente input{
       margin: auto;
}
.showregalumno{
       
}
.modal{
       width: 100%;
       text-align: center;
       height: 80%;
}
.pregunta h2{
       margin: 0px;
       color: #F66B05;
       margin-bottom: 5%;
}
.modal p{
       opacity: 0.7;
       font-size: 14px;
       color: #141515;
       margin-bottom: 5%;
}
button{
       background: none;
       border: 0px;
       color: #F66B05;
       cursor: pointer;   
}
@media screen and (max-width: 800px){
       .ctn-text{
              display: none;
       }
       .ctn-form {
              margin: auto;
              max-width: 768px;
       }
       .modal-container{
              margin: auto;
              max-width: 768px;
       }

}
@media (max-width: 768px){.ctn-form {width: 75% }}
@media (max-width: 480px){.ctn-form {width: 90% }}