@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');
*{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: 'Azeret Mono', monospace;
       text-decoration: none;
}
body{
       background-image: url(background-wallpaper-with-polygons-in-gradient-colors-vector.jpg);
       padding: 20px;

}
.container-all{
       width: 100%;
       max-width: 1000px;
       margin: auto;
       margin-top: 80px;
       display: flex;
}
.ctn-form{
       width: 40%;
       padding: 40px;
       background-image: url(html-color-codes-color-tutorials-hero.jpg);
       display: block;
}
.title{
       text-align: center;
       margin-top: 10px;
       font-weight: 300;
       color:#F66B05;
}
label{
       text-align: center;
       display: block;
       margin-top: 30px;
       margin-bottom: 30px;
       font-size: 15px;
       font-weight: 250;
       color:#F66B05;
}
input{
       margin: auto;
       display: block;
       color: white;
       text-align: center;
       border: 0px;
}
.password{
       margin-bottom: 20%;
       color:white;
       text-align: center;
       border: 0px;
       
}
input[type="submit"]{
       margin: auto;
       width: 100%;
       color: #F66B05;
       height: 50px;
       border: 0px;
       background-image: url(html-color-codes-color-tutorials-hero.jpg);
       font-weight: 300;
       cursor:pointer;
}
.ctn-text{
       margin-left: 5%;
       margin-right: 3%;
       margin-top: 167px;
       text-align: center;
       font-size: 25px;
}
.text-footer{
       color:hotpink;
       text-decoration: none;
       font-size: 12px;
       
}
.footer{
       margin-top: 25px;
       text-align: center;
}
.modal-container{
       display:flex;
       background-image: url(html-color-codes-color-tutorials-hero.jpg);
       position: fixed;
       pointer-events: none;
       opacity: 0;
       top: 0px;
       left: 0px;
       height: 100%;
       width: 100%;
}
.show{
       pointer-events: auto;
       opacity: 1;
       position: fixed;
}
.formregalumno{
       background: #151414;
       pointer-events: none;
       left: 50%;

}
.showregalumno{
       pointer-events: auto;
}
.modal{
       width: 100%;
       text-align: center;
       height: 80%;
}
.modal h2{
       margin: 0px;
       color: #F66B05;
       margin-bottom: 5%;
}
.modal p{
       opacity: 0.7;
       font-size: 14px;
       color: #141515;
       margin-bottom: 5%;
}
button{
       background: none;
       border: 0px;
       color: #F66B05;
       cursor: pointer;   
}
@media screen and (max-width: 800px){
       .ctn-text{
              display: none;
       }
       .ctn-form {
              margin: auto;
              max-width: 768px;
       }
       .modal-container{
              margin: auto;
              max-width: 768px;
       }

}
@media (max-width: 768px){.ctn-form {width: 75% }}
@media (max-width: 480px){.ctn-form {width: 90% }}